<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_22_NumPy.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create NumPy Array (1.22.1)

In [2]:
# Code Needed
import numpy as np
applications_list = [10, 15, 7, 20, 25, 30, 5]
applications_list = np.array(applications_list)

---

## ðŸŸ© Slicing Array (1.22.2)

In [3]:
# Code Needed
import numpy as np
postings_list = [10, 15, 7, 20, 25, 30, 5]
postings_array = np.array(postings_list)

# Example of slicing: elements from index 1 (inclusive) to 4 (exclusive)
sliced_array = postings_array[1:4]
print(f"Original array: {postings_array}")
print(f"Sliced array (index 1 to 3): {sliced_array}")

Original array: [10 15  7 20 25 30  5]
Sliced array (index 1 to 3): [15  7 20]

---

## ðŸŸ¨ Highest and Lowest Salary (1.22.3)

In [7]:
# Code Needed
salaries_list = [70000, 85000, 60000, 95000, 80000]
Highest_Salary = np.max(salaries_list)
Lowest_Salary = np.min(salaries_list)
print(f"Highest salary: {Highest_Salary}")
print(f"Lowest Salary: {Lowest_Salary}")

Highest salary: 95000
Lowest Salary: 60000

---